.container.card-container
  %section
    .row
      .col-sm-12
        %h3.separator-title Cite Us
     
    .row
      .col-sm-12.abstract
        %p{:style => "text-align: justify;"}
          %strong LifeWatch ERIC 2020.
          EcoPortal, the repository of semantic resources for the ecological domain.
          %a{href: 'http://ecoportal.lifewatch.eu', target: '_blank'}
            %strong http://ecoportal.lifewatch.eu

