.container.card-container
  %section
    .row
      .col-sm-12
        %h1.mt-5 Cite Us
     
    .row
      .col-sm-12.abstract
        %p{:style => "text-align: justify;"}
          %strong LifeWatch ERIC 2020.
          EcoPortal, the repository of semantic resources for the ecological domain.
          %a{href: 'https://ecoportal.lifewatch.eu', target: '_blank'}
            %strong https://ecoportal.lifewatch.eu
        %h2 Publications
        %ul.pl-4
          %li
            Kechagioglou, X., Vaira, L., Tomassino, P., Fiore, N., Basset, A., & Rosati, I. (2021).
            EcoPortal: An Environment for FAIR Semantic Resources in the Ecological Domain.
            Proceedings of the Joint Ontology Workshops 2021 (JOWO 2021), 3rd International
            Workshop on Semantics for Biodiversity (S4BioDiv), Bolzano, Italy, September 11-18,
            2021.
            = link_to(nil, 'https://ceur-ws.org/Vol-2969/paper6-s4biodiv.pdf', target: '_blank')