.container.card-container
  %section
    .row
      .col-sm-12
        %h3.separator-title Privacy Policy
     
    .row
      .col-sm-12.abstract
        %p{:style => "text-align: justify;"}
          %strong Under Construction
        -#   is an initiative of
        -#   %a{:href => "https://www.lifewatch.eu/", target: '_blank'}
        -#     %strong LifeWatch ERIC
        -#   , the e-Science and Technology European Infrastructure for Biodiversity and Ecosystem Research.
        -# %p{:style => "text-align: justify;"} In the last decade, ecological research groups and infrastructures have contributed to the definition and the production of core and domain ontologies as well as of vocabularies and domain-relevant reference lists.
        -# %p{:style => "text-align: justify;"} In order to support the scientific community in the management and integration of these different approaches, LifeWatch ERIC has created EcoPortal, an online space designed to collect semantic resources and provide the necessary services for enabling discovery and interoperability.
        -# %p{:style => "text-align: justify;"}
        -#   %a{:href => "https://www.lifewatch.eu/", target: '_blank'}
        -#     %strong LifeWatch ERIC
        -#   envisages creating a repository for ontologies and thesauri with associated essential curation services.
