-# .container.card-container
  -# %section
  -#   .row
  -#     .col-sm-12
  -#       %h3.separator-title Who we are
  -#   .row
  -#     .col-sm-12.abstract
  -#       %p{:style => "text-align: justify;"}
  -#         %strong EcoPortal
  -#         employs an international staff with wide-ranging expertise and multidisciplinary skills. Staff members, roles and contact details are available below.
-# %center
.container.card-container
  %section
    .row
      .col-sm-12
        %h1.mt-5 Team members

    .row
      .col-sm-12
        .container.team-card-container
          .row
            .col-sm-6.team-card
              %div.team-card-image
                %img{alt: 'Nicola fiore', src: 'https://github.com/lifewatch-eric/documentation/raw/main/assets/img/team/nicola-fiore.png'}
              %div.team-card-content
                %h4 Nicola Fiore
                %p LifeWatch ERIC Service Centre ICT Coordinator
                %p nicola.fiore[at]lifewatch.eu
            .col-sm-6.team-card
              %div.team-card-image
                %img{alt: 'Ilaria Rosati', src: '/assets/static/irosati-19deeac6c325aade9ec125e0bb4eb232b3c59f9d21901e6182b36da89556c7e4.jpg'}
              %div.team-card-content
                %h4 Ilaria Rosati
                %p Data Scientist - LifeWatch Italy
                %p Research Institute on Terrestrial Ecosystems - National Research Council
                %p ilaria.rosati[at]cnr.it
          .row
            .col-sm-6.team-card
              %div.team-card-image
                %img{alt: 'Lucia Vaira', src: 'https://github.com/lifewatch-eric/documentation/raw/main/assets/img/team/lucia-vaira.png'}
              %div.team-card-content
                %h4 Lucia Vaira
                %p LifeWatch ERIC Web Portal Officer
                %p lucia.vaira[at]lifewatch.eu
            .col-sm-6.team-card
              %div.team-card-image
                %img{alt: 'Xeni Kechagioglou', src: 'https://github.com/lifewatch-eric/documentation/raw/main/assets/img/team/Xeni.jpg'}
              %div.team-card-content
                %h4 Xeni Kechagioglou
                %p LifeWatch ERIC Ontology Developer
                %p xeni.kechagioglou[at]lifewatch.eu
          .row
            .col-sm-6.team-card
              %div.team-card-image
                %img{alt: 'Pierfrancesco Tommasino', src: 'https://github.com/lifewatch-eric/documentation/raw/main/assets/img/team/pierfrancesco-tommasino.jpg'}
              %div.team-card-content
                %h4 Pierfrancesco Tommasino
                %p Research Grant - LifeWatch Italy
                %p Research Institute on Terrestrial Ecosystems - National Research Council
                %p pierfrancesco.tommasino[at]iret.cnr.it
            .col-sm-6.team-card
              %div.team-card-image
                %img{alt: 'Giuseppe Turrisi', src: 'https://github.com/lifewatch-eric/documentation/raw/main/assets/img/team/GTURRISI.jpg'}
              %div.team-card-content
                %h4 Giuseppe Turrisi
                %p LifeWatch ERIC Web Portal Developer 
                %p giuseppe.turrisi[at]lifewatch.eu
              

              