-# .container.card-container
  -# %section
  -#   .row
  -#     .col-sm-12
  -#       %h3.separator-title Who we are
  -#   .row
  -#     .col-sm-12.abstract
  -#       %p{:style => "text-align: justify;"}
  -#         %strong EcoPortal
  -#         employs an international staff with wide-ranging expertise and multidisciplinary skills. Staff members, roles and contact details are available below.
-# %center
%h3.separator-title Team members
.container.team-card-container
  .row.team-cards
    .col-sm-2.col1.team-card-content
      = image_tag("static/fiore.jpg", style: "vertical-align: middle;")
    .col-sm-4.team-card-content.col2.col4
      %h4 Nicola Fiore
      %p Service Centre ICT Coordinator
      %p Service Centre - LifeWatch ERIC
      %p nicola.fiore[at]lifewatch.eu
    .col-sm-2.col1.team-card-content
      = image_tag("static/irosati.jpg", style: "vertical-align: middle;")
    .col-sm-4.team-card-content.col2.col4
      %h4 Ilaria Rosati
      %p Data Manager - LifeWatch Italy
      %p Research Institute on Terrestrial Ecosystems - National Research Council
      %p ilaria.rosati[at]]cnr.it
  .row.team-cards
    .col-sm-2.col1.team-card-content
      = image_tag("static/mrpasimeni.jpg", style: "vertical-align: middle;")
    .col-sm-4.col2.team-card-content
      %h4 Maria Rita Pasimeni
      %p Data Consultant - LifeWatch ERIC
      %p mariarita.pasimeni[at]]unisalento.it
    .col-sm-2.col1.team-card-content
      = image_tag("static/ccruschi.jpg", style: "vertical-align: middle;")
    .col-sm-4.team-card-content.col2.col4
      %h4 Claudio Cruschi
      %p Senior Software Engineer Consultant
      %p c.cruschi[at]elif.it
  .row.team-cards
