.container.card-container
  %section
    .row
      .col-sm-12
        %h3.separator-title Terms
     
    .row
      .col-sm-12.abstract
        %p{style: 'text-align: justify;'} These Terms of Usage apply to the EcoPortal website and services that are operated by LifeWatch ERIC [LW ERIC, “us”, or “we”]. We may update this policy at any time; if we do so we will revise the date and place notices on the website if those changes are material. We will obtain your consent for any changes if that is required by law. LW ERIC is not responsible for the content or policies of sites to which EcoPortal may link. By using EcoPortal, you agree to follow and be bound by the following terms and conditions concerning your use of EcoPortal (“Terms of Use”) and our Privacy Policy. We may modify or terminate our services from time to time, for any reason, and without notice. The ontologies, terminologies, metadata, templates, and other resources provided by EcoPortal may be downloaded in whole or in part and used, provided that the end user follows the applicable licensing terms, including appropriately crediting the original provider of the resources and obtaining the appropriate licenses required by the developers of the accessed materials.
        %p{style: 'text-align: justify;'}
          %strong Passwords and Security
          You are responsible for maintaining the confidentiality of any password(s) or API key(s) you are given to access EcoPortal, and are fully responsible for all activities that occur under your password(s). You agree to notify us immediately of any unauthorised use of your password(s). We are very mindful of the security of personal information we collect from you and we take every reasonable precaution to prevent unauthorized access to that information.
        %p{style: 'text-align: justify;'}
          %strong Use of Semantic Resources
          In general, any semantic resource submitted to EcoPortal will be freely available for public use, unless the content is marked as private (in which case it will not be shared via EcoPortal) or the Licensing Attribute is defined in the metadata for that ontology. If an end user re-uses semantic resources with a Licensing attribute defined, EcoPortal considers it the end user’s responsibility to acquire appropriate licenses for that re-use. Only the submitter of the semantic resource (either an individual or organization that is the authorized owner of the resource content or a designated representative) will be able to modify it or submit new versions, except when semantic resources which are configured for automatic ingest/update by EcoPortal are changed at their source location on the web by anyone with that authority. All submitted semantic resource content will be indexed and made available for search and visualization to all users of EcoPortal worldwide.
        %p{style: 'text-align: justify;'}
          %strong General Disclaimer
          Except where expressly provided otherwise, EcoPortal and all content, materials, information, products and services provided on EcoPortal are provided on an “as is” and “as available” basis. Any content, materials, information or software downloaded or otherwise obtained through the use of EcoPortal is undertaken at your own discretion and risk. We shall have no responsibility for any damage to your computer system or loss of data that results from the download of any content, materials, information or software. We reserve the right to make changes or updates to EcoPortal at any time without notice.
        %p{style: 'text-align: justify;'}
          %strong Limitation of Liability
          In no event shall LifeWatch ERIC be liable for any direct, indirect, incidental, special or consequential damages, or damages for loss of profits, revenue, data or use, incurred by you or any third party, whether in an action in contract or tort, arising from your access to, or use of, EcoPortal. Some jurisdictions do not allow the limitation or exclusion of liability. Accordingly, some of the above limitations may not apply to you.
        %p{style: 'text-align: justify;'}
          %strong Indemnity
          You agree to defend, indemnify, and hold harmless LifeWatch ERIC and its staff and associates from and against any and all claims, liabilities, damages, losses or expenses, including reasonable attorneys’ fees and costs, arising out of or in any way connected with your access to or use of EcoPortal.
        %p{style: 'text-align: justify;'}
          %strong Termination of Use
          You agree that we may terminate or suspend your access to EcoPortal and any account(s) for Cause, wherein Cause shall mean (1) misconduct by the user of EcoPortal, (2) material breach of any provision of the Terms of Use, or (3) fraud or any other illegal or wrongful conduct by the user. In the event of terminating a user account, we will notify the user of the reasons for the termination or suspension. Access to Our Sites may be monitored by us as described in our Privacy Policy.

