.grid-container {
  max-width: 1400px;
}
[ng-cloak].splash {
  display: block !important;
}
.splash {
  display: none;
  width: 25%;
  height: 4em;
  padding: 2em;
  text-align: center;
  margin: 2em auto;
  background-color: #ECECEC;
  border-radius: 3px;
}
[ng-cloak] {
  display: none;
}
.admin {
  background-color: #EFFFEF !important;
}
.welcome_admin {
  width: 33%;
  padding: 7px 10px 5px;
  border-radius: 3px;
  text-align: center;
  top: -5em;
  position: relative;
  float: right;
  left: -33%;
  margin-bottom: -5em; /* To avoid that 5em of white space are left underneath */
}

.search {
  float: left;
  width: 150px;
  padding: 2px 4px 1px;
  margin-top: -5px;
  width: 200px;
}
.smaller {
  color: gray;
  font-size: .8em;
  padding-bottom: 2px;
}
#facets {
  margin-top: calc(1em - 5px);  /* account for the -5px margin on top .search */
}

.new_ontology_button {
  box-sizing: border-box;
  width: 100%;
  white-space: break-spaces !important;
}
.facet {
  margin: 1em 0;
  border: thin lightGray solid;
  padding: 5px;
  border-radius: 3px;
}
.facet_disabled {
  color: gray;
}

.facet h4 {
  font-size: 1.3em;
}

.checkbox_list {
  max-height: 200px;
  overflow: auto;
  padding-left: 1px;
}
.checkbox_list > span {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  display: block;
}
#sorting {
}
#sorting_float {
  float: right;
  margin-bottom: .5em;
}
@keyframes highlight {
  0% {
    background: #f2f2f2;
  }
  100% {
    background: none;
  }
}
@-webkit-keyframes highlight {
  0% {
    background: #f2f2f2;
  }
  100% {
    background: none;
  }
}
.trigger_highlight-add, .trigger_highlight-remove {
  -webkit-animation: highlight 1s;
  animation: highlight 1s;
}
#ontologies {
  margin-top: 1em;
}
.clear {
  clear: both;
}
.ontology {
  border: thin #f2f2f2 solid;
  border-radius: 5px;
  padding: .5em 1em .5em;
  margin: 1em 0;
}
.ontology_view_badge {
  float: left;
  padding: 5px;
  text-align: center;
  margin-right: 5px;
  border-radius: 3px;
  color: white;
  background-color: #0f4e8a;
  font-size: 1em;
  font-weight: bold;
}
.ontology_view_badge a {
  color: white;
  text-decoration: none;
}
.locked_ont {
  font-size: .65em;
  padding-left: .2em;
  color: gray;
  cursor: help;
  /* Make the lock appear in the upper left corner */
  /*
  background-color: #0f4e8a;
  padding: 2.5px 4px;
  font-size: 1em;
  color: white;
  position: relative;
  left: -10px;
  top: -8px;
  border-radius: 5px 0px;
  float: left;
  */
}
.ont-info {
  margin: 5px 5px 0 0;
  display: inline-block;
  padding: 5px 10px 3px;
  border-radius: 3px;
  background-color: #ECECEC;
  font-size: 11px;
}
.badge_grid {
  float: right !important;
}
.ontology_badge {
  /* border-radius: 5px; */
  text-align: center;
  max-width: 60px;
  height: 45px;
  max-height: 45px;
  background:#f2f2f2;
  /* border: solid #0f4e8a thin; */
}
.ontology_badge:hover {
  cursor: pointer;
}
.badge_title {
  border-radius: 4px 4px 0 0;
  height: 1.5em;
  font-size: 12px;
  color: #f2f2f2;
  background-color: #0f4e8a;
}
.badge_count {
  border-radius: 0 0 4px 4px;
  height: 22px;
  font-size: 1.1em;
  font-weight: bold;
  color: #0f4e8a;
}
.ontology_badge:hover .eco-badge_count {
  background-color: rgba(220, 235, 255, 0.79);
}
