- @title = "Edit a Semantic Resource Information"

%div{:style => "margin:10px;"}
  = form_for :ontology, url: ontology_path(@ontology.acronym), html: {method: :put, id: "ontologyForm"} do |f|
    = render partial: "form", locals: {f: f, button_text: "Save semantic resource", title_text: "Edit Semantic Resource Information"}
