.eco-navbar-inverse {
  background: #009399
}

.eco-footer-appliance {
  height: 360px;
}

.eco-body {
  margin-bottom: 360px;
}

.eco-navbar-font,
.eco-navbar-inverse .eco-navbar-font>li>a {
  color:#f2f2f2;
}

.eco-navbar-font:hover,
.eco-navbar-font>li>a:hover {  
  color:#fff;
}

.eco-navbar-login,
.eco-navbar-login>li>a {
  color:#f2f2f2;
}

/****** POPUP (fon example: feedback ***********/

.eco-popup-body {
  margin:0;
}

.eco-popup-top {
  margin:0;
  padding-top:5px;
}

.form th {
  white-space: nowrap;
  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #666666;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background: #f2f2f2;
}


/*****************Ontologies viewer********************/
.eco-ontology-nav-bar {
  background:#f2f2f2;
  color:black;
  padding: 14px;
}

.eco-ontology-nav-bar a:hover {  
  color:#666666;
}

#eco_nav_ontology {
  // padding: 1em;
  // padding-left: 2em;
  font-family: 'Droid Sans', sans-serif;
  margin-top: 10px;
}

#eco_ont_sum_link {
  //padding-top: 1em;
  padding-left: 14px;
  color: #009399;
}

#eco_ont_sum_link:hover {
  color:#666666;
}

#eco_nav_ontology {
  //padding: 1em;
  padding-left: 14px;
  font-family: 'Droid Sans', sans-serif;
}
#eco_nav_ontology a {
  color: #666666;
  text-decoration: none;
}
#eco_nav_ontology a:hover {
  text-decoration: underline;
}
#eco_nav_ontology li {
  display: table-cell;
  padding-right: 1em;
}


// /************ ABOUT-US & TEAM *************/

// .card-container .col1 {
//   background-color:  #009399;
//   color:white;
// }

// .card-container .col2 {
// 	background-color:  #f2f2f2;
//   margin-left: 1rem;
//   padding: 2rem !important;
// }

// .cards {
// 	display: flex;
// 	display: -webkit-flex;
// 	flex-flow: row nowrap;
// 	-webkit-flex-flow: row nowrap;
// 	align-items: stretch;
// 	-webkit-align-items: stretch;
// 	justify-content: space-between;
// 	-webkit-justify-content: space-between;
//   margin-top: 10px;
//   margin-bottom: 20px;
// }

// .card-container {
// 	display: flex;
// 	display: -webkit-flex;
// 	flex-direction: column;
// 	-webkit-flex-direction: column;
// 	/*width: 33.3%;*/
//   padding: 10px;
// }

// .card-image img {
// 	display: block;
// 	height: auto;
// 	margin: 0px;
// 	max-width: 100%;
// 	width: 100%;
// }

// .card-content {
// 	display: flex;
// 	display: -webkit-flex;
// 	flex-direction: column;
// 	-webkit-flex-direction: column;
// 	/*flex: 1;
// 	-webkit-flex: 1;*/
// 	padding: 10px 0;
// }

// .card-content h2 {
// 	padding-left: 20px;
// 	margin: 10px 0;
// }

// /******* TEAM ******/
// .team-card-container .col1 {
//   background-color:  #009399;
//   color:white;
// }

// .team-card-container .col2 {
// 	background-color:  #f2f2f2;
//   margin-left: 1rem;
//   padding: 2rem !important;
// }

// .team-cards {
// 	display: flex;
// 	display: -webkit-flex;
// 	flex-flow: row nowrap;
// 	-webkit-flex-flow: row nowrap;
// 	align-items: stretch;
// 	-webkit-align-items: stretch;
// 	justify-content: space-between;
// 	-webkit-justify-content: space-between;
//   margin-top: 10px;
//   margin-bottom: 20px;
// }

// .team-card-container {
// 	display: flex;
// 	display: -webkit-flex;
// 	flex-direction: column;
// 	-webkit-flex-direction: column;
// 	/*width: 33.3%;*/
//   padding: 10px;
// }

// .team-card-image img {
// 	display: block;
// 	height: auto;
// 	margin: 0px;
// 	max-width: 100%;
// 	width: 100%;
// }

// .team-card-content {
// 	display: flex;
// 	display: -webkit-flex;
// 	flex-direction: column;
// 	-webkit-flex-direction: column;
// 	/*flex: 1;
// 	-webkit-flex: 1;*/
// 	padding: 10px 0;
// }

.card-container .col1 {
  background-color:  #009399;
  color:white;
}

.card-container .col2 {
	background-color:  #f2f2f2;
  margin-left: 1rem;
  padding: 2rem !important;
}

.cards {
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	align-items: stretch;
	-webkit-align-items: stretch;
	justify-content: space-between;
	-webkit-justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-container {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	/*width: 33.3%;*/
  padding: 10px;
}

.card-content img {
	display: block;
	height: auto;
	margin: 0px;
	max-width: 100%;
	width: 100%;
}

.card-content {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	/*flex: 1;
	-webkit-flex: 1;*/
	padding: 0px
}

.card-content h2 {
	padding-left: 20px;
	margin: 10px 0;
}

/******* TEAM ******/
.team-card-container .col1 {
  background-color:  #f2f2f2;
  color:white;
}

.team-card-container .col2 {
	background-color:  #f2f2f2;
  /*margin-left: 1rem;*/
  padding: 2rem !important;
}

.team-cards {
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	align-items: stretch;
	-webkit-align-items: stretch;
	justify-content: space-between;
	-webkit-justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.team-card-container {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	/*width: 33.3%;*/
  padding: 10px;
}

.team-card-content img {
	display: block;
	height: auto;
	margin: 0px;
    padding: 0px;
	max-width: 100%;
	width: 100%;
}

.team-card-content {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	/*flex: 1;
	-webkit-flex: 1;*/
	padding: 0px;
    margin: 0px 0px;
}

.team-card-container .col2 {
	margin: 0px 10px 0px 0px;
    }
    
 .team-card-container .col4 {
	margin: 0px 0px;
    }
    
  .team-card-content h4 {
  color: #009399;
  }


/******* GENERAL ******/
.margin-bottom-20 {
  margin-bottom: 20px;
}