- @title = "New review"
- form_id = "new_review_form"

%div
  = form_for(:review, url: reviews_path, method: "POST", remote: true, html: {id: "#{form_id}"}) do |f|
    = render partial: "editable_review", locals: {f: f, form_id: form_id}
